@import './mixin';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&display=swap');

html, body {font-family: $notoKr;}
.wrapper {
	max-width: 1180px; 
	margin: auto;
	@include desktop {
		width: 96%;
	}
}

a:not(.btn) {
	&:link, &:visited, &:active, &:hover {color: inherit; text-decoration: none;}
}

.thin {font-weight: 300;}
.normal {font-weight: 400;}
.bold {font-weight: 500;}

.xs {font-size: 0.75em;}
.sm {font-size: 0.875em;}
.md {font-size: 1em;}
.lg {font-size: 1.125em;}
.xl {font-size: 1.25em;}

.pagination {
	margin: 3em 0 2em 0;
	.page-item.active {
		.page-link {
			background-color: $pagerActive;
			border-color: $pagerActive;
		}
	}
}

header {
	.top-wrapper {padding: $sm; background-color: $colorDarker;}
	.header-wrapper {
		border-bottom: 1px solid $colorWhite;
		@include tablet {
			padding: 0.5em 0;
		}
		.wrapper {
			display: flex;
			@include flex($SB);
			.navi-wrap {
				@include flex($FS, $CT);
				align-items: center;
				.navi {
					padding: 1.5em;
					&:hover {background-color: $colorWhite; color: $txtPrimary;}
				}
				@include tablet {
					display: none;
				}
			}
			.logo-wrap {
				a {
					@include flex($CT);
					.img-wrap {width: 50px; height: 50px; margin: 0.25em 0; border-radius: 50%; overflow: hidden; border: 1px solid $colorWhite; background-image: url(../img/jmju.jpg); background-size: cover; background-repeat: no-repeat;
					}
				}
			}
			.login-wrap {
				@include flex($FE);
				a { padding: 1.5em;}
			}
			.mobile-wrapper {
				display: none;
				font-size: 1.5em;
				padding-top: 1em;
				cursor: pointer;
				@include tablet {
					display: block;
				}
			}
		}
	}
	.mobile-sub {
		position: absolute;
		width: 100%;
		display: none;
			.sub {
				color: $colorWhite;
				background-color: $colorDark;
				padding: 1.5em;
				border-bottom: 1px solid $colorGrey;
			}
		}
}



.title-wrapper {
	text-align: center;
	margin: 2em 0;
	h1 {font-size: 1.5em;}
}