header
	//--.top-wrapper
	.header-wrapper
		.wrapper
			.navi-l-wrap
				a(href="/board") BOARD
				a(href="/api") API BOARD
				a(href="/gallery") GALLERY
			h1.logo-c-wrap
				a(href="/") 
					.img-wrap.mr-2
						//--img.w-100(src="/img/jmju.jpg")
			.navi-r-wrap
				if user.id
					a(href="/auth/logout") LOGOUT
				else	
					a.mr-2(href="/auth/join") JOIN
					a.mr-2(href="/auth/login") LOGIN
			.mobile-wrapper
				i.fa.fa-bars.navi(onclick="onMobile();")
	ul.mobile-sub
		li.sub
			a(href="/board") BOARD
		li.sub
			a(href="/api") API BOARD
		li.sub
			a(href="/gallery") GALLERY
			
