header
	//--.top-wrapper
	.header-wrapper
		.wrapper
			.navi-wrap
				a.navi(href="/board") BOARD
				a.navi(href="/api") API BOARD
				a.navi(href="/gallery") GALLERY
			h1.logo-wrap
				a(href="/") 
					.img-wrap
						//--img.w-100(src="/img/jmju.jpg")
			.login-wrap
				a(href="/auth/join") JOIN
				a(href="/auth/login") LOGIN
				a(href="/auth/logout") LOGOUT
			.mobile-wrapper
				i.fa.fa-bars.navi(onclick="onMobile();")
	ul.mobile-sub
		li.sub
			a(href="/board") BOARD
		li.sub
			a(href="/api") API BOARD
		li.sub
			a(href="/gallery") GALLERY
			
